<div class="ui main tiny menu">
  <div class="flex item">
    <div class="ui icon input">
      <input type="text" placeholder="Dicoogle Search...">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui teal buttons">
        <div class="ui button" (click)="transfer()">
          <i *ngIf="selectedSrvPoint.icon" class="cube icon"></i>
          {{selectedSrvPoint.name}}
        </div>
        <div class="ui dropdown icon button">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="ui search icon input">
              <i class="search icon"></i>
              <input type="text" name="search" placeholder="Service Point...">
            </div>
            <div *ngFor="let srv of srvPoints" id="{{srv.id}}" class="item {{ srv.selected ? 'active selected' : '' }}">
              <i *ngIf="srv.icon" class="cube icon"></i> {{srv.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui content segment">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>Patient</th>
        <th>Studies</th>
        <th>Modalities</th>
        <th>Transfer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h5 class="ui header">
            <i class="right triangle link icon"></i>
            <i class="male icon"></i>
            <div class="content">Micael Pedrosa</div>
          </h5>
        </td>
        <td>22</td>
        <td>OP, CT</td>
        <td>
          <div class="ui progress success" data-value="20" data-total="20">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <h5 class="ui header">
            <i class="down triangle link icon"></i>
            <i class="female icon"></i>
            <div class="content">Ana Martins</div>
          </h5>
        </td>
        <td>12</td>
        <td>OP, CR, MR</td>
        <td>
          <div class="ui active progress" data-value="15" data-total="20">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <table class="ui very basic table">
            <thead>
              <tr>
                <th></th>
                <th>Modality</th>
                <th>Series</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>OP</td>
                <td>5</td>
              </tr>
              <tr>
                <td></td>
                <td>CR</td>
                <td>6</td>
              </tr>
              <tr>
                <td></td>
                <td>MR</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <h5 class="ui header">
            <i class="down triangle link icon"></i>
            <i class="female icon"></i>
            <div class="content">Ana Martins</div>
          </h5>
        </td>
        <td>12</td>
        <td>OP, CR, MR</td>
        <td>
          <div class="ui active progress" data-value="15" data-total="20">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="ui relaxed list" style="padding-left: 20px">
            <div class="item">
              <i class="right triangle link icon"></i>
              <div class="content">
                <div class="header">Modality: OP</div>
                <div class="ui horizontal divided list">
                  <div class="item">Series: 5</div>
                  <div class="item">Other: 1</div>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="right triangle link icon"></i>
              <div class="content">
                <div class="header">Modality: CR</div>
                <div class="ui horizontal divided list">
                  <div class="item">Series: 5</div>
                  <div class="item">Other: 1</div>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="right triangle link icon"></i>
              <div class="content">
                <div class="header">Modality: MR</div>
                <div class="ui horizontal divided list">
                  <div class="item">Series: 1</div>
                  <div class="item">Other: 1</div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui content segment">
  
  <div class="ui relaxed divided list">
    <div class="item">
      <i class="right triangle link icon"></i>
      <i class="male icon"></i>
      <div class="content">
        <div class="header">Micael Pedrosa</div>
        <div class="ui horizontal divided list">
          <div class="item">Studies: 22</div>
          <div class="item">Modalities: [ OP, CT ]</div>
        </div>
      </div>
      <div class="ui small progress success" data-value="20" data-total="20" style="margin-left: 40px;">
        <div class="bar">
          <div class="progress"></div>
        </div>
      </div>
    </div>
    
    <div class="item">
      <i class="down triangle link icon"></i>
      <i class="female icon"></i>
      <div class="content">
        <div class="header">Ana Martins</div>
        <div class="ui horizontal divided list">
          <div class="item">Studies: 12</div>
          <div class="item">Modalities: [ OP, CR, MR ]</div>
        </div>

        <div class="list">
          <div class="item">
            <i class="right triangle link icon"></i>
            <div class="content">
              <div class="header">Modality: OP</div>
              <div class="ui horizontal divided list">
                <div class="item">Series: 5</div>
                <div class="item">Other: 1</div>
              </div>
            </div>
          </div>
          <div class="item">
            <i class="right triangle link icon"></i>
            <div class="content">
              <div class="header">Modality: CR</div>
              <div class="ui horizontal divided list">
                <div class="item">Series: 5</div>
                <div class="item">Other: 1</div>
              </div>
            </div>
          </div>
          <div class="item">
            <i class="right triangle link icon"></i>
            <div class="content">
              <div class="header">Modality: MR</div>
              <div class="ui horizontal divided list">
                <div class="item">Series: 1</div>
                <div class="item">Other: 1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui small active progress" data-value="15" data-total="20" style="margin-left: 40px;">
        <div class="bar">
          <div class="progress"></div>
        </div>
      </div>
    </div>
  </div>

</div>