<div class="ui main tiny menu">
  <div class="flex item">
    <div class="ui icon input">
      <input type="text" placeholder="Dicoogle Search..." [ngFormControl]="query">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui teal buttons">
        <div class="ui button" (click)="transfer()">
          <i *ngIf="selectedSrvPoint.icon" class="cube icon"></i>
          {{selectedSrvPoint.name}}
        </div>
        <div class="ui dropdown icon button">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="ui search icon input">
              <i class="search icon"></i>
              <input type="text" name="search" placeholder="Service Point...">
            </div>
            <div *ngFor="let srv of srvPoints" id="{{srv.id}}" class="item {{ srv.selected ? 'active selected' : '' }}">
              <i *ngIf="srv.icon" class="cube icon"></i> {{srv.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui content segment">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th class="one wide">
          <div class="ui checkbox">
            <input type="checkbox" [checked]="allSelected" (click)="selectAll()">
            <label></label>
          </div>
        </th>
        <th>Patient</th>
        <th>Studies</th>
        <th>Modalities</th>
        <th>Transferred</th>
      </tr>
    </thead>
    <tbody>
      <template ngFor let-patient [ngForOf]="patients">
        <tr>
          <td class="collapsing">
            <div class="ui checkbox">
              <input type="checkbox" [checked]="patient.selected" (click)="selectPatient(patient)">
              <label></label>
            </div>
          </td>
          <td>
            <h5 class="ui header">
              <i class="{{patient.open ? 'down' : 'right'}} triangle link icon" (click)="patient.open = !patient.open"></i>
              <i class="{{patient.gender == 'M' ? 'male' : 'female'}} icon"></i>
              <div class="content">{{patient.name}}</div>
            </h5>
          </td>
          <td>{{patient.nStudies}}</td>
          <td>[<span *ngFor="let mod of patient.modalities"> {{mod}}</span> ]</td>
          <td>
            <div *ngIf="patient.transfer" class="ui active progress" attr.id="progress_{{patient.id}}">
              <div class="bar">
                <div class="progress"></div>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="patient.open">
          <td colspan="5">
            <div class="ui relaxed list" style="padding-left: 20px">
              <div *ngFor="let study of patient.studies" class="item">
                <i class="{{study.open ? 'down' : 'right'}} triangle link icon" (click)="study.open = !study.open"></i>
                <div class="content">
                  <div class="header">Study: {{study.studyInstanceUID}}</div>
                  <div class="ui horizontal divided list">
                    <div class="item">Date: {{study.studyDate}}</div>
                    <div class="item">Series: {{study.series.length}}</div>
                    <div class="item">Modality: {{study.modalities}}</div>
                  </div>
                  <div *ngIf="study.open" class="ui relaxed list" style="padding-left: 20px">
                    <div *ngFor="let serie of study.series" class="item">
                      <i class="{{serie.open ? 'down' : 'right'}} triangle link icon" (click)="serie.open = !serie.open"></i>
                      <div class="content">
                        <div class="header">Serie: {{serie.serieInstanceUID}}</div>
                        <div class="ui horizontal divided list">
                          <div class="item">Number: {{serie.serieNumber}}</div>
                          <div class="item">Images: {{serie.images.length}}</div>
                        </div>
                        <div *ngIf="serie.open" class="ui relaxed list" style="padding-left: 20px">
                          <div *ngFor="let image of serie.images" class="item">
                            <div class="content">
                              <div class="header">Image: {{image.sopInstanceUID}}</div>
                              <div class="ui horizontal divided list">
                                <div class="item">FileName: {{image.filename}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </template>
    </tbody>
    <!--<tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="4">
          <div class="ui right floated small primary labeled icon button">
            <i class="user icon"></i> Add Results
          </div>
        </th>
      </tr>
    </tfoot>-->
  </table>
</div>