<div *ngIf="showMenu()" class="ui fixed inverted menu">
  <img class="dr-logo" src="assets/img/logo6.png" [routerLink]="['home']" style="cursor: pointer;">
  <a *ngIf="contains('/ui-search')"   [routerLink]="['search']" class="header item" style="padding-left: 20px;">
    <i class="find large icon"></i>
    Search
  </a>
  <a *ngIf="contains('/ui-upload')"   [routerLink]="['upload']" class="header item">
    <i class="cloud upload large icon"></i>
    Upload
  </a>
  <a *ngIf="contains('/ui-annotate')" [routerLink]="['annotate']" class="header item">
    <i class="tags large icon"></i>
    Annotate
  </a>
  <a *ngIf="contains('/ui-viewer')"   [routerLink]="['viewer']" class="header item">
    <i class="unhide large icon"></i>
    Viewer
  </a>

  <div class="right menu" style="padding-right: 5px;">
    <div class="ui simple dropdown item" >
      <div *ngIf="auth.isLogged">
        <img class="ui avatar image" [src]="auth.userInfo.avatar">
        <span>{{auth.userInfo.name}}</span>
      </div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" [routerLink]="['dataset']">
          <i class="database icon"></i>
          Datasets
        </a>
        <a class="item" [routerLink]="['profile']">
          <i class="user icon"></i>
          Profile
        </a>
        <a *ngIf="contains('/ui-console')" class="item" [routerLink]="['realm']">
          <i class="users icon"></i>
          Realm
        </a>
        <a class="item" (click)="logout()">
          <i class="power icon"></i>
          Log Out
        </a>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>