<main>
  <div class="ui fixed inverted menu">
    <img class="dr-logo" src="assets/img/logo.png">
    <a [routerLink]="['/search']" class="header item" style="padding-left: 20px;">
      Search
    </a>
    <!--<a [routerLink]="['/results']" class="header item">
      Results
    </a>-->
    <a [routerLink]="['/upload']" class="header item">
      Upload
    </a>

    <div class="right menu" style="padding-right: 5px;">
      <a *ngIf="auth.isLogged" class="item">
        <img class="ui avatar image" [src]="auth.userInfo.avatar">
        <span>{{auth.userInfo.name}}</span>  
      </a>
      <div class="item">
        <div *ngIf="!auth.isLogged" class="ui primary button" (click)="auth.login()">Log In</div>
        <div *ngIf="auth.isLogged" class="ui primary button" (click)="auth.logout()">Log Out</div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

  <!--DataSet Name Modal-->
  <div class="ui modal">
    <div class="header">
      Dataset Name
    </div>
    <div class="content">
      <div class="ui fluid input focus">
        <input type="text" placeholder="Set name...">
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel button">Cancel</div>
      <div class="ui ok primary button">OK</div>
    </div>
  </div>
</main>
