<!--Search Bar-->
<div class="ui main menu">
  <div class="flex item">
    <div class="ui labeled icon input" data-inverted="" data-position="bottom center" data-tooltip="Press Ctrl + Space to present a list of searchable fields.">
      <div class="ui basic label" style="padding: .6em 0em .6em .95em; cursor:pointer; border-right:none;" (click)="help()">
        <i class="circle help large icon"></i>
      </div>

      <div #search_drop_help class="ui inline dropdown">
        <div #search_drop_menu class="search menu" style="overflow-y: scroll; height: calc(100vh - 150px);">
          <div class="header">Image Fields</div>
          <div class="item">Image</div>
          <div class="item">DateTime</div>
          <div class="item">Modality</div>
          <div class="item">Laterality</div>
          <div class="item">Columns</div>
          <div class="item">Rows</div>

          <div class="header">Station Fields</div>
          <div class="item">StationName</div>
          <div class="item">Manufacturer</div>
          <div class="item">ManufacturerModelName</div>

          <div class="header">Patient Fields</div>
          <div class="item">PatientName</div>
          <div class="item">BirthDate</div>
          <div class="item">Sex</div>

          <div class="header">Annotation Fields</div>
          <div class="item">CreatedAt</div>
          <div class="item">Readability</div>
          <div class="item">Centered</div>
          <div class="item">Retinopathy</div>
          <div class="item">Maculopathy</div>
          <div class="item">Photocoagulation</div>
          <div class="item">Comorbidities</div>
          <div class="item">Lesions</div>

          <div class="header">Other Fields</div>
          <div class="item">Dataset</div>
        </div>
      </div>

      <input #search type="text" placeholder="Search..." [formControl]="query" style="border-radius:0;" (keydown.control.Space)="searchHelp()">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div #drop_data class="ui basic multiple search selection dropdown">
        <input type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select Data</div>
        <div class="menu">
          <div class="item" data-value="dcm">
            Dicom
          </div>
          <div class="item" data-value="anno">
            Annotations
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="ui tiny teal buttons">
        <div class="ui button" [class.disabled]="selectedNumber == 0 || dataTypes.length == 0" (click)="transfer()">
          Download
        </div>
        <div #drop_action class="ui floating dropdown icon button" [class.disabled]="selectedNumber == 0">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" (click)="openDsModel()">Create Dataset</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Result Segment-->
<div class="ui content segment" style="overflow-y: scroll; height: calc(100vh - 175px);">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>
          <div class="ui checkbox">
            <input type="checkbox" [checked]="allSelected" (click)="selectAll()">
            <label></label>
          </div>
        </th>
        <th>Image</th>
        <th>DateTime</th>
        <th>Modality</th>
        <th>Laterality</th>
        <th>Columns x Rows</th>
        <th>Transferred</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-image [ngForOf]="images.slice(selectedPage*pageSize, (selectedPage + 1)*pageSize)">
        <!--Image Info-->
        <tr>
          <!--Selection-->
          <td class="collapsing">
            <div class="ui checkbox">
              <input type="checkbox" [checked]="image.selected" (click)="selectImage(image)">
              <label></label>
            </div>
          </td>
          
          <!--Image-->
          <td>
            <i class="large {{image.open ? 'down' : 'right'}} triangle link icon" (click)="image.open = !image.open"></i>
            <i class="large blue image icon" (mouseenter)="openPreview(image.uid, $event)" (mouseleave)="closePreview(image.uid)"></i>
            <div attr.id="image_popup_{{image.uid}}" style="display:none; box-shadow: rgba(34, 36, 38, 0.6) -3px 5px 5px 2px;">
              <img class="ui fluid image" [src]="image.url">
            </div>
            {{image.uid}}
          </td>

          <!--DateTime-->
          <td>{{image.datetime}}</td>

          <!--Modality-->
          <td>{{image.modality}}</td>

          <!--Laterality-->
          <td>{{image.laterality}}</td>
          
          <!--Columns x Rows-->
          <td>{{image.columns}}x{{image.rows}}</td>
          
          <!--Transferred-->
          <td>
            <i class="large {{ image.transferred ? 'green' : '' }} upload icon"></i>
          </td>
        </tr>

        <!--Image Details-->
        <tr *ngIf="image.open">
          <td colspan="7">
            <div class="ui relaxed list" style="padding-left: 3em">
            <!--Station-->
            <div class="item">
                <i class="large blue desktop icon"></i>
                <div class="content">
                  <div class="header">StationName: {{image.stationName}}</div>
                  <div class="ui horizontal divided list">
                    <div class="item">Manufacturer: {{image.manufacturer}}</div>
                    <div class="item">ManufacturerModelName: {{image.manufacturerModelName}}</div>
                  </div>
                </div>
              </div>
              
              <!--Patient-->
              <div class="item">
                <i class="large blue user icon"></i>
                <div class="content">
                  <div class="header">PatientName: {{image.patient.name}}</div>
                  <div class="ui horizontal divided list">
                    <div class="item">BirthDate: {{image.patient.birthdate}}</div>
                    <div class="item">Sex: {{image.patient.sex}}</div>
                  </div>
                </div>
              </div>
              
              <!--Annotations-->
              <div *ngFor="let anno of image.annotations" class="item">
                <i class="large blue tags icon"></i>
                <div class="content">
                  <div class="header">
                    Readability: {{anno.nodes.quality ? anno.nodes.quality.fields.quality: 'N/A'}} with {{ nodeTypesList(anno.nodes) }}
                  </div>
                  <div class="ui horizontal divided list">
                    <div class="item">Centered: {{anno.nodes.quality ? anno.nodes.quality.fields.local: 'N/A'}}</div>
                    <div class="item">Retinopathy: {{anno.nodes.diagnosis ? anno.nodes.diagnosis.fields.retinopathy: 'N/A'}}</div>
                    <div class="item">Maculopathy: {{anno.nodes.diagnosis ? anno.nodes.diagnosis.fields.maculopathy: 'N/A'}}</div>
                    <div class="item">Photocoagulation: {{anno.nodes.diagnosis ? anno.nodes.diagnosis.fields.photocoagulation: 'N/A'}}</div>
                    <div class="item">Comorbidities: [{{anno.nodes.diagnosis ? anno.nodes.diagnosis.fields.diseases : 'N/A'}}]</div>
                    <div class="item">Lesions: [{{anno.nodes.lesions ? lesions(anno.nodes.lesions) : 'N/A'}}]</div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<div style="margin: 0px 20px 0px 20px;">
  <div class="ui input" style="width: 4em">
    <input type="number" min="10" max="100" style="text-align: right;" [value]="pageSize" (input)="changePageSize($event.target.value)">
  </div>
  <div class="ui pagination menu">
    <a *ngFor="let p of pages" class="item {{p == selectedPage ? 'active' : ''}}" (click)="selectedPage = p">{{p}}</a>
  </div>
  <div class="ui large label">
    Images from {{
      (images.length == 0 ? 0 : (selectedPage*pageSize + 1)) +
      ' to ' + 
      ((selectedPage + 1)*pageSize > images.length ? images.length : (selectedPage + 1)*pageSize) + 
      ' of ' + 
      images.length }}
    results.
  </div>
</div>

<div #modal_create_ds class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Create Dataset
  </div>

  <div class="ui form" style="padding: 10px 0px 0px 10px;">
    <!--Dataset Name-->
    <div class="inline fields" style="display: flex;">
      <label>Dataset Name:</label>
      <div class="field" style="flex: 1 1 auto;">
        <input [(ngModel)]="dsName" type="text" placeholder="Dataset Name..." style="width: 100%;">
      </div>
    </div>

    <!--Image Order-->
    <div class="inline fields">
      <label>Image Order:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input [(ngModel)]="dsImageOrder" type="radio" name="dsImageOrder" value="sequence">
          <label>Sequence</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input [(ngModel)]="dsImageOrder" type="radio" name="dsImageOrder" value="random">
          <label>Random</label>
        </div>
      </div>
    </div>

    <!--Number of Images-->
    <div class="inline fields" style="display: flex;">
        <label>Number of Images:</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input [(ngModel)]="dsNumberSelector" type="radio" name="dsNumberSelector" value="all">
            <label>All</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input [(ngModel)]="dsNumberSelector" type="radio" name="dsNumberSelector" value="total">
            <label>Total</label>
          </div>
        </div>
        <div *ngIf="dsNumberSelector == 'total'" class="field" style="flex: 1 1 auto;">
          <input [(ngModel)]="dsNumberOfImages" type="number" placeholder="Number..." style="width: 100%;">
        </div>
      </div>

    <!--Image Selection-->
    <div *ngIf="dsNumberSelector == 'total' && dsNumberOfImages < selectedNumber" class="inline fields">
        <label>Image Selection:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input [(ngModel)]="dsImageSelection" type="radio" name="dsImageSelection" value="top">
          <label>Top</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input [(ngModel)]="dsImageSelection" type="radio" name="dsImageSelection" value="bottom">
          <label>Bottom</label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dsMessageError.length > 0" class="ui negative message">
    <p>{{dsMessageError}}</p>
  </div>

  <div class="actions">
    <div class="ui green button" (click)="createDataset()">
      Create
    </div>
  </div>
</div>

<div #modal_help class="ui modal">
  <div class="header">Search Help</div>
  <div class="content">

    <h3>Query Language</h3>
    <p>
      The query language can be used with free text of simple boolean logic. Although some uppercase words are used here, the language is case free.
      When selecting the field and data to search, the format is the following: <strong>&lt;field&gt;:&lt;data&gt;</strong>.
      Boolean compositions can be made from several fields like: <strong>&lt;field1&gt;:&lt;data1&gt; OR &lt;field2&gt;:&lt;data2&gt;</strong>
      or in the same field like: <strong>&lt;field&gt;:(data1 OR data2)</strong>
    </p>
    <p>
      The free text exclude the use of fields, we can for example search by Glaucoma Comorbidities using only <strong>Glauco*</strong>
      although there is a higher chance of colliding with results with other fields not related to Comorbidities.
    </p>

    <h4>Boolean Operators</h4>
    <p>Available <strong>boolean</strong> operators are:</p>
    <ul class="ui list">
      <li>OR -> joins 2 sentences indicating that the presence of one condition is a valid result</li>
      <li>AND -> joins 2 sentences indicating that the presence of both conditions is required</li>
      <li>+ -> applied to single sentence indicating this term must be present</li>
      <li>- -> applied to single sentence indicating this term must not be present</li>
    </ul>
    <p>
      When searching by annotations sometimes different annotations in the same image can be contradictory.
      Some boolean combinations can be used to refine the search, ex: <strong>Readability:(GOOD AND -PARTIAL)</strong>
      will select all images with Readability:GOOD but discarding any that as a contradictory annotation with Readability:PARTIAL.
    </p>

    <h4>Range Operators</h4>
    <p>
      Ranges can be specified for date, numeric or string fields.
      Inclusive ranges are specified with square brackets [min TO max] and exclusive ranges with curly brackets {{'{min TO max}'}}.
    </p>
    <p>Available <strong>range</strong> operators are:</p>
    <ul class="ui list">
      <li>TO -> define a range interval, ex: <strong>BirthDate:[1936-07-22 TO 1936-07-24]</strong></li>
      <li>&lt;, &gt;, &lt;=, &gt;= -> range limiters, ex: <strong>Columns:>3000</strong></li>
    </ul>

    <h4>Wildcards</h4>
    <p>
      Wildcard searches can be run on individual terms, using ? to replace a single character, and * to replace zero or more characters, ex:
      <strong>Comorbidities:Vascu*</strong>
    </p>

    <h3>All Searchable Fields</h3>
    <p>
      At any moment it is possible to fire the dropdown help to select one of these searchable fields.
      Just use <strong>Ctrl + Space</strong> on the search input box.
    </p>
    <ul class="ui list">
      <li>
        <strong>Using Image Fields:</strong>
        <ul>
          <li>Image -> <strong>text</strong> type, ex: <strong>Image:1.2.392.200046.100.3.8.101983.6690.20160506092052.2.1.1.1</strong></li>
          <li>DateTime -> <strong>date</strong> type, ex: <strong>DateTime:[2016-01-06 TO 2016-05-07]</strong></li>
          <li>Modality -> <strong>text</strong> type, ex: <strong>Modality:XC</strong></li>
          <li>Laterality -> <strong>text</strong> type (normally L or R), ex: <strong>Laterality:L</strong></li>
          <li>Columns -> <strong>numeric</strong> type, ex: <strong>Columns:[1000 TO 4000]</strong></li>
          <li>Rows-> <strong>numeric</strong> type, ex: <strong>Rows:>1000</strong></li>
        </ul>
      </li>
      <li>
        <strong>Using Station Fields:</strong>
        <ul>
          <li>StationName -> <strong>text</strong> type, ex: <strong>StationName:Braga</strong></li>
          <li>Manufacturer -> <strong>text</strong> type, ex: <strong>Manufacturer:Canon</strong></li>
          <li>ManufacturerModelName -> <strong>text</strong> type (normally M or F), ex: <strong>ManufacturerModelName:CR*</strong></li>
        </ul>
      </li>
      <li>
        <strong>Using Patient Fields:</strong>
        <ul>
          <li>PatientName -> <strong>text</strong> type, ex: <strong>PatientName:B8XIP*</strong></li>
          <li>BirthDate -> <strong>date</strong> type, ex: <strong>BirthDate:[1936-07-22 TO 1936-07-24]</strong></li>
          <li>Sex -> <strong>text</strong> type (normally M or F), ex: <strong>Sex:M</strong></li>
        </ul>
      </li>
      <li>
        <strong>Using Annotation Fields:</strong>
        <ul>
          <li>CreatedAt -> <strong>date</strong> type, ex: <strong>CreatedAt:[2017-10-01 TO 2017-12-01]</strong></li>
          <li>Readability -> <strong>option</strong> type with options (GOOD, PARTIAL, BAD), ex: <strong>Readability:GOOD</strong></li>
          <li>Centered -> <strong>option</strong> type with options (MACULA, OPTIC_DISC, OTHER), ex: <strong>Centered:(MACULA OR OTHER)</strong></li>
          <li>Retinopathy -> <strong>option</strong> type with options (R0, R1, R2_M, R2_S, R3, RX), ex: <strong>Retinopathy:R2*</strong></li>
          <li>Maculopathy -> <strong>option</strong> type with options (M0, M1, MX), ex: <strong>Maculopathy:MX</strong></li>
          <li>Photocoagulation -> <strong>option</strong> type with options (P0, P1, P2, PX), ex: <strong>Photocoagulation:(P0 AND P1)</strong></li>
          <li>Comorbidities -> <strong>text</strong> type, ex: <strong>Comorbidities:Glau*</strong></li>
          <li>Lesions -> <strong>option</strong> type with options (MA, HEM, HE, SE, NV), ex: <strong>Lesions:MA</strong></li>
        </ul>
      </li>
    </ul>

    <h4>Field Types</h4>
    <ul class="ui list">
      <li>text -> free text field</li>
      <li>numeric -> natural numbers</li>
      <li>date -> dates used with format YYYY-MM-DD</li>
      <li>option -> a set of pre-defined text options</li>
    </ul>

    <h3>Special Queries</h3>
    <p>
      These queries do not go through the Query Language and are used for special situations,
      the only available special query is to select datasets, ex: <strong>dataset:&lt;dataset name&gt;</strong>
    </p>
  </div>
</div>
