<div class="ui main tiny menu">
  <div class="right menu">
    <div class="item">
      <div class="ui teal buttons">
        <div class="ui button" (click)="index()">
          Index
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui content segment">
  <div id="dropzone" class="dropzone">
    <div class="dz-message needsclick">
      Drop files here or click to upload.<br>
      <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
    </div>
  </div>
</div>

<div class="ui content segment">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th class="one wide">
          <div class="ui checkbox">
            <input type="checkbox" [checked]="allSelected" (click)="selectAll()">
            <label></label>
          </div>
        </th>
        <th>File</th>
        <th>Size</th>
        <th>Indexed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of sFiles">
        <td class="collapsing">
          <div class="ui checkbox">
            <input type="checkbox" [checked]="file.selected" (click)="selectFile(file)">
            <label></label>
          </div>
        </td>
        <td>{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>{{file.indexed}}</td>
      </tr>
    </tbody>
  </table>
</div>