/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

div {
  border-radius: 0px !important;
}

.dr-logo {
  width: 8em;
  height: 3em;
  margin: 5px 0px 7px 20px
}

.ui.menu .flex.item {
  flex: auto;
  border: 0;
}

.ui.menu .flex.item:before {
  width: 0px;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.right.menu .item {
  padding: 0.3em 0.4em;
}

.main.content.segment {
  margin: 60px 20px 10px;
}

.content.segment {
  margin: 0px 20px 10px;
}

.modals.dimmer .ui.scrolling.modal {
  margin-top: 0px !important;
}

.ui.progress {
  margin-bottom: 0px !important;
}

.ui.active.button {
  background-color: #8a8a8a; 
}

.ui.form .field>label {
  font-size: medium;
}

.dropzone {
  flex: auto;
  border: 2px dashed #0087F7;
  padding: 30px 30px;
  margin: 10px;
}

/*annotate view*/
.item-image {
  height: 100%;
}
.ui.tiny.menu .item-menu {
  padding: 0;
}

.ui.menu:not(.vertical) .left.item, .ui.menu:not(.vertical) .left.menu {
  margin-right:0; 
}

.h1 {
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.h2 {
  text-align: center;
  vertical-align:bottom;
  right: 0;
  position: absolute
}

.li {
  text-align: center;
  vertical-align: middle;
}

/* Other About */
.about-class {
  height: 100%;
  background-color:white;
  border-right-style:solid;
  border-left-style:solid;
  border-right-width: 25%;
  border-left-width: 25%;
  border-color:black;
}

/* magnify */
.magnify {
  padding: 0 0 0 0;
  flex: 3;
  background: black;
}

.maglarge {
	width: 200px; height: 200px;
	position: absolute;
	/*border-radius: 100%;*/
	
	box-shadow: 0 0 0 2px black, 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	display: none;
}

.magsmall {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}